@media only screen and (max-width:1160px) {
    
}
@media only screen and (max-width:980px) {
      .navbar .list .navlist {
      margin: 0 5px;
  }
}
/* tab */
@media only screen and (max-width:768px) {
    #Header{
        background-size: cover;
    }
    .list{
        display: none;
    }
    .icon .search{
        display: none;
    }
    .icon .bar {
        display: block;
    }
    .header-content .header-p, .header-h1{
        width: 100%;
    }
    #shusi-oriental .row .col1 .sweet-img .swt{
        width: 250px;
    }
    #shusi-oriental .row .col2 .section-content .section-p, .section-h1{
        width:100%;
    }
    #oriental-shusi .row
   {
    flex-direction: column;
   }
   #oriental-shusi .row .col
   {
    width:100%;
    text-align: center;
   }
   #special-menu .special-sweet
   {
      width:100%;
      margin:0 auto;
      text-align: center;
   }
   #special-menu .row
   {
      flex-direction: column;
   }
   #special-menu .row .col
   {
      width:100%;
   }
   #sweet-statistics .row
   {
      flex-direction: column;
   }
   #sweet-statistics .row .col
   {
      margin:25px 0;
   }
   #sweet-statistics .number .sweet-h2
   {
      width:100%;
   }
   #sweet-statistics .number .sweet-p
   {
      width:100%;
   }
   #kawaii-shusi .row
   {
      flex-direction: column-reverse;
   }
   #kawaii-shusi .row .col
   {
      width: 100%;
      text-align: center;
   }
   #cook-quote .cook-feedback .quote-p
   {
      width: 100%;
   }
   #cook-quote .cook-feedback .name-h3
   {
      width: 100%;
   }
   #shusi-subsribe .shusi-content
   {
      display: flex;
      flex-direction: column;
   }
   .shusi-content .shusi-name .shusi-here-h1
   {
      width: 100%;
   }
   .shusi-content .shusi-name .shusi-here-p
   {
      width: 100%;
   }
   .shusi-content .subscribe .email 
   {
      width: 100%;
   }
   .shusi-content .subscribe .subscribe-btn
   {
      width: 50%;
   }
   #footer-your-logo  .row
   {
      display: block;
      text-align: center;
   }
   #footer-your-logo .footer-logo-img
   {
      margin: 0 auto;
   }
   #footer-your-logo .row .col-1
   {
      width: 100%;
   }
   #footer-your-logo .row .col-2
   {
      width: 100%;
   }
   #footer-your-logo .logo-info
   {
      width: 100%;
      /* text-align: center; */
   }
   #footer-your-logo .row .col-2 .col-4
   {
      width: 100%;
      /* text-align: center; */
   }

}
@media only screen and (max-width:576px)
{
    .header-content .col1 .header-btn{
        padding: 10px 30px;
    }
    .shusi-content .subscribe .email 
   {
      width: 82%;
      font-size: clamp(16px, 5vw, 25px);
   }
   .shusi-content .subscribe .subscribe-btn
   {
      width: 50%;
      font-size: clamp(16px, 5vw, 25px);
   }
    
}